<div th:fragment="style">
	<style type="text/css">
	</style>
</div>
<div th:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {

		});
		/*]]>*/
	</script>
</div>

<div class="text-center" th:fragment="content">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
	<div class="container">
    </div>
</div>

