<div th:fragment="style">
	<style type="text/css">
	</style>
</div>
<div th:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(function() {

            $("#horizontal").kendoSplitter({
                panes: [
                    { collapsible: true, size: "300px", min: "200px", max: "300px"},
                    { collapsible: false }
                ],
                resize: function(e){
                }
            });
            $("#vertical").kendoSplitter({
                orientation: "vertical",
                panes: [
                    { collapsible: true, min: "50px", size: "150px"},
                    { collapsible: false, min: "100px"}
                ],
                resize: function(e){
                }
            });
            
        	var height = $(window).height();
            $( ".k-splitter" ).css({'height' : (height*0.8) + 'px'});
        	$("#vertical").trigger("resize");
            
			
			$(".folder").click(function(){
				var entryUUID = $(this).data("entryUuid");
				$.ajax({
					url : '/iHealthRecord/welcome/GetFolderAndContents/' + entryUUID + '/',
					type : "GET",
					dataType : 'json',
					success : function(msg) {
						var html = "";
						for(var key in msg){
							var uuid = msg[key].entryUUID;
							var name = msg[key].name;
							html = html + '<li class="list-group-item"><div class="doc" data-uuid=' + uuid + '>' + name + '</div></li>';
						}
						$("#all_notes").html(html);
						$(".doc").click(function(){
							var uuid = $(this).data("uuid");
							$.ajax({
								url : '/iHealthRecord/welcome/GetDocuemt/' + uuid + '/',
								type : "GET",
								dataType : 'json',
								success : function(msg) {
									$("#note_header").html(msg.name);
									$.ajax({
										url : '/iHealthRecord/welcome/RetrieveDocument/' + msg.uniqueId + '/',
										type : "GET",
										dataType : 'json',
										success : function(msg) {
											if(msg.mimeType == "image/jpeg")
												$("#note_body").html('<img src="data:image/png;base64,' + msg.document + '" />');
											else
												$("#note_body").html(msg.document);
										},
										error : function(xhr, ajaxOptions, thrownError) {
											alert(xhr.status);
											alert(thrownError);
										}
									});
								},
								error : function(xhr, ajaxOptions, thrownError) {
									alert(xhr.status);
									alert(thrownError);
								}
							});
						});
					},
					error : function(xhr, ajaxOptions, thrownError) {
						alert(xhr.status);
						alert(thrownError);
					}
				});
			});
		});
		/*]]>*/
	</script>
</div>

<div class="text-center" th:fragment="content">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form class="navbar-form navbar-right" role="Search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search"/>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
		<div id="horizontal" class="row">
			<div id="note_books" class="col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div th:text="#{note.books}" ></div>
					</div>
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item" th:each="x : ${folerList}" >
								<a class="folder" href="#" th:title="${x.lastUpdateTime}"  th:attr="data-entry-uuid=${x.entryUUID}">
									<div th:text="${x.name}" ></div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-7" style="overflow-y:hidden;">
				<div id="vertical" style="height: 100%;">
					<div>
						<div class="panel panel-success">
							<div class="panel-heading">
								<div th:text="#{all.notes}" ></div>
							</div>
							<div class="panel-body" >
								<div>
									<ul id="all_notes" class="list-group" ></ul>
								</div>									
							</div>
						</div>
					</div>
					<div style="overflow-x:hidden;">
						<h2>記事</h2>
						<div class="row">
							<div class="col-md-8">標籤</div>
							<div class="col-md-2, btn btn-info">資訊</div>
							<div class="col-md-2, btn btn-info">工具隱藏</div>
						</div>
						<div class="row">
							<div class="col-md-4">建立時間</div>
							<div class="col-md-4">修改時間</div>
						</div>
						<div class="row" style="margin: 20px">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 id="note_header" class="panel-title">Panel title</h3>
								</div>
								<div id="note_body" class="panel-body">
									<p>Panel content</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

