<!DOCTYPE HTML>
<html lang="zh-tw">
	<head>
   		<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		<link th:href="@{/resources/images/favicon.ico}" rel="shortcut icon" ></link>
		<title>iHealthRecord</title>
		<link th:href="@{/resources/css/bootstrap/bootstrap.min.css}" rel="stylesheet" ></link>
		<link th:href="@{/resources/css/core.css}" rel="stylesheet" ></link>
		<link th:href="@{/resources/css/kendo/kendo.common.min.css}" rel="stylesheet" ></link>
		<link th:href="@{/resources/css/kendo/kendo.default.min.css}" rel="stylesheet" ></link>
		
	    <!-- Just for debugging purposes. Don't actually copy this line! -->
	    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	    <style type="text/css">
	    </style>
		<div th:replace="${view} :: style"></div>
		
	</head>
	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="masthead clearfix" th:replace="fragments/header :: header"></div>
					<div class="inner cover" th:replace="${view} :: content"></div>
					<div class="mastfoot" th:replace="fragments/footer :: footer"></div>
				</div>
			</div>
		</div>
	
		<!-- Bootstrap core JavaScript
	    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>
		<script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
		<script th:src="@{/resources/js/kendo/kendo.all.min.js}"></script>
		
		<div th:replace="${view} :: script"></div>
	</body>
</html>
