<div class="container" th:fragment="content">

    <h2>Owner Information</h2>

    <table class="table table-striped" style="width:600px;">
        <tr>
            <th>Name</th>
            <td><b th:text="|${owner.firstName} ${owner.lastName}|">[firstname lastname]</b></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="${owner.address}">[address]</td>
        </tr>
        <tr>
            <th>City</th>
            <td th:text="${owner.city}">[city]</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td th:text="${owner.telephone}">[telephone]</td>
        </tr>
         <tr>
            <td> 
            	<a th:href="@{|${owner.id}/edit.html|}" href="./createOrUpdateOwnerForm.html" class="btn btn-info">Edit Owner</a></td>
            <td>
            	<a th:href="@{|${owner.id}/pets/new.html|}" href="../pets/createOrUpdatePetForm.html"  class="btn btn-success">Add New Pet</a></td>
        </tr>
    </table>

    <h2>Pets and Visits</h2>

    

</div>
